{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link href="/css/aboutme.css" rel="stylesheet" />
    <title>About me</title>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="container-section">
                <div class="title">
                    <h1>About me</h1>
                </div>
                <div class="content">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus at, ipsa officia modi incidunt quis eius pariatur repudiandae asperiores magni necessitatibus nisi earum dolorem eos, assumenda blanditiis iste maiores soluta!</p>
                </div>
                <div class="button">
                    <a href='/'>Read More</a>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa facebook-f"></i></a>
                    <a href=""><i class="fab fa twitter"></i></a>
                    <a href=""><i class="fab fa instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src='static\images\masktest6.PNG'>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}