{% extends "base.html" %}
{% block content %}

          <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <div class="upload-section">

                    <div class="upload-file">
                        <form class = "file-form" action="/success" method="post", enctype="multipart/form-data">
                            <label for="formFileMultiple" class="form-label"><h3>Upload image here</h3></label>
                            <input class="form-control" type="file" name="file"/>
                            <br>
                            
                            <button class="btn btn-success btn-lg">Upload</button> 
                        </form>
                    </div>
        
                    <div class="uploadOR">
                        <br>
                        <span><h3>Or</h3></span>
                        <br>
                     
                    </div>
        
                    <div class="upload-link">
                        <form class = "link-form" action="/success" method="post", enctype="multipart/form-data">
                            <input class="input" type="link" placeholder="       Paste URL here " name='link'>
                            <br>
                            <br>
                            <button class="btn btn-success btn-lg">Proceed</button> 
                        </form>
                    </div>
                    <div class = "header-content-sub">
                            <p style = "text-align: center; margin-top: 15px;color: red" class="header-content-info">{{error}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
